/* font settings */
html, body { line-height: 1.25; }
h1 { font-size: 2.0em; font-weight: 800; }
h2 { font-size: 1.8em; font-weight: 700; }
h3 { font-size: 1.6em; font-weight: 600; }
h4 { font-size: 1.4em; font-weight: 500; }
h5 { font-size: 1.2em; font-weight: 400; }
h6 { font-size: 1.1em; font-weight: 300; }
main nav a { font-size: 14px; }

/* TOC tree */
/*
div.toc {
    border-top: 1px dashed #d9411e;
    border-bottom: 1px dashed #d9411e;
    padding: 1px 0;
}
*/

/* Table style */
article table {
     border-collapse: collapse;
     width: 100%;
     margin-bottom: 10px;
}
article th {
     background-color: #eeeeee;
     border: 1px solid #b9b9b9;
     color: #333333;
     padding: 6px;
     text-align: left;
     vertical-align: top;
     width: 25%;
     min-width: 100px;
}
article td {
     background-color: #ffffff;
     border: 1px solid #b9b9b9;
     padding: 6px;
     text-align: left;
}

/* Gist coloring */
.gist .line-data .line-pre {
     color: #000;
}

/* Link */
.fa-link {
  vertical-align: super;
  font-size: 0.5em;
}

/* neighbor plugin button */
a.btn { background-color: #0880bbe0}
